body {
    background-color: rgb(46, 125, 151);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .final-project ul li{
    display: flex;
    flex: content;
    flex-wrap: wrap;
  }

